@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

html, body {
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #2c2c2c;
  color: #1b79f5;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .chat {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.main .chat nav {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

.main .chat nav .left, .main .chat nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .chat nav .left h4 {
  font-size: 20px;
}

.main .chat nav .left img {
  width: 40px;
  height: 40px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 15px;
}

.main .chat nav .right span img {
  width: 30px;
  height: 30px;
  -o-object-fit: fill;
     object-fit: fill;
  cursor: pointer;
  -webkit-transition: 3s;
  transition: 3s;
}

#moon {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#sun {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .chat nav .right p {
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .chat nav .right .signout-btn {
  display: none;
}

.main .chat nav .right p:hover {
  background-color: #1b79f5;
  color: white;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

.chat-area {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding: .5rem;
  background-color: #333333;
  border-radius: 10px;
  color: white;
  overflow-y: scroll;
  display: none;
  border: 2px #333333 solid;
  -webkit-transition: .3s;
  transition: .3s;
}

.chat-area::-webkit-scrollbar {
  width: 6px;
  background-color: gray;
  border-radius: 50px;
}

.chat-area::-webkit-scrollbar-thumb {
  background: #1b79f5;
  border-radius: 50px;
}

.chat-area .title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 5px 0px;
  border-bottom: 1px grey solid;
}

.chat-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 25px;
}

.chat-area ul li {
  width: auto;
  list-style: none;
  margin: 5px 0;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}

.chat-area ul li p {
  margin: 5px 0;
  padding: 0 5px;
}

.chat-area ul li h3 {
  color: #1b79f5;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  margin: 3px 0;
  padding: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
}

.chat-area ul li h2 {
  font-weight: 500;
  padding: 5px 8px;
  background-color: #1e82c5;
  border-radius: 0 30px 30px 25px;
  padding: 10px 20px;
  font-size: 15px;
  text-align: start;
  margin-left: 10px;
  color: white;
}

.chat-area ul li h6 {
  font-weight: 100;
  font-size: 10px;
  margin-top: 3px;
  color: grey;
  font-weight: 5500;
  text-transform: capitalize;
  padding: 0 5px;
}

#form {
  width: 100%;
  position: fixed;
  bottom: 5px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.6));
          filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.6));
}

#form .message-input {
  width: 100%;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 50px;
  border: 0px;
  color: white;
  outline: none;
}

#form .submit-input {
  position: absolute;
  bottom: 8px;
  right: 15px;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-color: transparent;
  background-image: url(../image/telegram.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#sendBtn {
  display: none;
}

.chat .login {
  position: relative;
  width: 100%;
  height: 81vh;
  margin-top: 20px;
  padding: 3px;
  border-radius: 10px;
  display: block;
  background-color: #333333;
  color: white;
}

.chat .login::-webkit-scrollbar {
  width: 0;
}

.chat .login .login-area {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow-y: scroll;
  -webkit-transition: .3s;
  transition: .3s;
}

.chat .login .login-area::-webkit-scrollbar {
  width: 0;
}

.chat .login .login-area h2 {
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.chat .login .login-area p {
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}

.chat .login .login-area .login-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat .login .login-area .login-method .email-password {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat .login .login-area .login-method .email-password h4 {
  font-weight: 200;
  font-size: 15px;
  margin-top: 5px;
}

.chat .login .login-area .login-method .email-password input {
  width: 250px;
  height: 35px;
  padding: 3px 3px 3px 10px;
  border-radius: 3px;
  outline: none;
  border: 0;
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
  border: 1px gray solid;
}

.chat .login .login-area .login-method .email-password .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  margin-left: -16px;
}

.chat .login .login-area .login-method .email-password .Btn button {
  background-color: #1b79f5;
  border: 0;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.chat .login .login-area .login-method .email-password .Btn .signInBtn, .chat .login .login-area .login-method .email-password .Btn .singUpBtn {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signInBtn {
  display: block;
}

#signUpBtn {
  display: block;
}

.chat .login .login-area .login-method .email-password #signUpBtn {
  background-color: #5ff35f;
  margin: 0 10px;
}

.chat .login .login-area .comment-area p {
  color: #1b79f5;
}

.chat .login .login-area .login-method .email-password .register-text, .chat .login .login-area .login-method .email-password .comment-area {
  width: 100%;
}

.chat .login .login-area .login-method .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  margin: 10px;
}

.chat .login .login-area .login-method .google img {
  width: 25px;
  height: 25px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 10px;
}

.chat .login .login-area .login-method .google p {
  font-size: 15px;
  font-weight: bold;
}

.light-mode {
  background-color: #f3f3f3;
  color: black;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.webloader {
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.loader-web {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  width: 70px;
  height: 70px;
}

.loader-in {
  display: none;
}

.loader-up {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .main .chat nav {
    padding: 0rem;
  }
  .main .chat nav .left img {
    width: 30px;
    height: 30px;
  }
  .main .chat nav .left h4 {
    font-size: 16px;
  }
  .main .chat nav .right p {
    font-size: 14px;
    margin-right: 5px;
  }
  .main .chat nav .right span img {
    width: 25px;
    height: 25px;
  }
  .chat-area .title {
    font-size: 16px;
  }
  .chat-area ul li h2 {
    padding: 8px 16px;
  }
  .chat-area::-webkit-scrollbar {
    width: 0px;
  }
  .chat .login .login-area h2 {
    font-size: 25px;
  }
  .chat .login .login-area p {
    font-size: 13px;
  }
  .chat .login .login-area .login-method .email-password h4 {
    font-size: 13px;
  }
  .chat .login .login-area .login-method .email-password input {
    width: 250px;
    height: 30px;
    font-size: 14px;
  }
  .chat .login .login-area .login-method .google {
    padding: 0px;
    margin: 5px;
  }
  .chat .login .login-area .login-method .google p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */